.parceiros {
  padding-top: 100px;
  padding-bottom: 140px;
}

.parceiros h2 {
  margin-bottom: 60px;
}

.parceiros-lista {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.parceiros-lista li {
  display: flex;
  padding: 36px;
  border-left: 2px solid var(--cor-5);
}

.parceiros-lista li:first-child,
.parceiros-lista li:nth-child(5) {
  border-left: none;
}

.parceiros-lista li:nth-child(-n + 4) {
  border-bottom: 2px solid var(--cor-5);
}

.parceiros-lista li img {
  margin: auto;
}

@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 60px;
  }
  .parceiros h2 {
    margin-bottom: 20px;
  }
  .parceiros-lista {
    grid-template-columns: 1fr 1fr;
  }
  .parceiros-lista li {
    padding: 20px;
  }
  .parceiros-lista li:nth-child(-n + 6) {
    border-bottom: 2px solid var(--cor-5);
  }
  .parceiros-lista li:nth-child(odd) {
    border-left: none;
  }
}
