.termos {
  padding-top: 60px;
  padding-bottom: 60px;
}

.termos h2 {
  font-weight: 600;
  margin-bottom: 32px;
}

.termos p + h2 {
  margin-top: 40px;
}

.termos p {
  max-width: 75ch;
  padding: 0 12px 16px 12px;
}
